.container{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    padding:8px;
    border: solid 8px #4a2b00;
}

.container button{
    text-transform:uppercase;
}